@import "tailwindcss";
@import "./theme.css";

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  @apply mx-auto px-4;
  max-width: 1200px;
}

